.listItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--gray-400);
    gap: 0.75rem;
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

.listItem:not(:first-child) {
    margin-top: 1rem;
}

.listItem:hover {
    border: 1px solid var(--secondary);
}

.listItemToggle,
.listItemToggleSelected {
    width: 22px;
    height: 22px;
    cursor: pointer;
    border-radius: 22px;

}

.listItemToggleSelected {
    /* display: flex; */
    color: var(--gray-100);
    /* align-items: center; */
    /* justify-content: center; */
    border: 3px solid var(--primary-dark);
    background: var(--primary-dark);
}

.listItemToggle {
    border: 2px solid var(--secondary);
    background: none;
    
}

.listItemToggle:hover {
    border: 2px solid var(--secondary-dark);
    background: var(--secondary-dark-transparency-02);
}

.listItemToggleSelected:hover {
    border: 2px solid var(--primary);
    background: var(--primary);
}

.listItemText,
.listItemTextSelected {
    grid-area: text;
    width: 90%;
    text-align: justify;
    color: var(--gray-100);
}

.listItemTextSelected {
    color: var(--gray-300);
    text-decoration: line-through;
}

.listItemDeleteButton {
    grid-area: delete;
    display: flex;
    background-color: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    transition: color 0.2s;
}

.listItemDeleteButton:hover {
    color: var(--red-danger);
}